@font-face {
    font-family: 'warmin';
    src: './fonts/warmin.ttf';
}

body {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 150px;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 3px rgb(66, 103, 100) solid;
    background-color: rgb(106, 163, 154);
}

header nav section {
    display: inline-flex;
    flex-direction: row;
    align-items:flex-start;
    justify-items:normal;
    border: solid black;
}

header nav img {
    height: 80px;
    width: auto;
    padding: 15px;
}

header .header_menu li {
    display: inline-flex;
}

nav menu ul {
   list-style: none;
}

header > nav > menu > ul > li > .menu_item {
    
}

main {
    position: absolute;
    width: 100%;
    height: calc(100vh - 300px);
    overflow: scroll;
    /*min-height: 500px;*/
    top: 150px;
    left: 0;
    border: 3px rgb(172, 124, 78) solid;
    background-color: rgb(229, 219, 171);
}

main > nav > .breadcrumb {

}

main > .content_letter {
    position: relative;
    height: 100vh;
    min-width: 50vw;
    width: 60%;
    max-width: 80%;
    margin: 0 auto;
    display: block;
    &::before, &::after {
        content: "";
        top: 0px;
        left: 0px;
        width: 0px;
        height: 0px;
        position: absolute;
        transform-origin: 0 0;
        border-left: solid 5vw transparent;
        border-bottom: solid 5vw rgb(105, 158, 197);
    }
}

main > .content_letter > .content  {
        content: "";
        background-color: rgb(231, 234, 225);
        width: 100%;
        height: auto;
        padding: 10vw;
        position: absolute;
        top: 0;
        left: 0;
    }

main > .content > p {

}

footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 150px;
    border: 3px rgb(0, 109, 109) solid;
    background-color: darkcyan;
}

footer > menu {

}

footer > nav > menu > a.menu_item {

}

footer > nav > menu > section > ul::first-line { 
    font-weight: bold;
}

footer > .date {

}