@import url('https://fonts.cdnfonts.com/css/old-english-five');

@font-face {
    font-family: warmin;
    src:
        url('../fonts/warmin.ttf') format('truetype');
}

@font-face {
    font-family: 'Old English Five';
    src: url('../fonts/OldEnglishFive-axyVg.ttf');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
        url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
        url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

/* GENERAL FORMAT */
body {
    position: absolute;
    height: auto;
    top: 0px;
    left: 0px;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    row-gap: 0;
    grid-template:
        "head" 25vh
        "main" auto
        "foot" 10vh
        / 100%
    ;
}

nav section {
    padding: 0;
    margin: 0;
    display: grid;
    user-select: none;
    /*border: solid pink 1px;*/
}

nav a {
    text-decoration: none;
}

nav menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1 {
    text-shadow: 10px 10px 20px wheat, 10px -10px 15px whitesmoke, -10px 10px 5px honeydew, -10px -10px 5px aqua;
    overflow: visible;
    min-width: 1000px;
    display: inline;
}

h2,
h3 {
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
}

h2 {
    font-family: 'Old English Five', sans-serif;
}

h3 {
    font-family: warmin, Arial, Helvetica, sans-serif;
}

br {
    content: "";
    margin: 2em;
    display: block;
    font-size: 24%;
}

p {
    text-indent: 3vw;
    text-align: justify;
    text-align-last: left;
    vertical-align: baseline;
    line-height: 2rem;
}

h4,
h5 {
    display: inline;
}

/* SPECIFIC FORMAT */

header {
    top: 0;
    font-family: warmin, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 1.75rem;
    grid-area: head;
    width: 100%;
    /*border: 3px rgb(66, 103, 100) solid;*/
    /*background-color: rgb(106, 163, 154);*/
    background: linear-gradient(180deg, rgba(2, 117, 60, 0.5) 0%, rgba(90, 86, 67, 0.5) 100%);
    padding: 0;
    margin: 0;
}

header nav {
    display: grid;
    row-gap: 0;
    grid-template:
        "img title title" 10vh
        "menu menu menu" 12vh
        "tod tod tod" 3vh
        / 100px 5fr 1fr;
}

#head_title {
    margin: 0 auto;
    grid-area: title;
    letter-spacing: 1cap;
}

#head_main_link_logo {
    grid-area: img;
}

#head_main_link_logo img {
    height: auto;
    width: 100px;
    padding: 20px;
    margin: 0;
}

#head_menu {
    margin: 0 auto;
    grid-area: menu;
    width: 100%;
    z-index: 1;
}

#head_menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#tod {
    grid-area: tod;
    line-height: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    justify-self: center;
    text-align: center;
    min-width: 500px;
    overflow: visible;
    padding: 2vw;
    z-index: 1;
}

header nav .menu_item {
    white-space: nowrap;
    text-align: center;
    user-select: none;
    border: solid;
    background-color: transparent;
    text-decoration-line: underline;
    position: relative;
}

main {
    grid-area: main;
    position: static;
    width: 100vw;
    min-height: fit-content;
    overflow-y: visible;
    /*border: 3px rgb(172, 124, 78) solid;*/
    /*background-color: rgb(229, 219, 171);*/
    background: linear-gradient(180deg, rgba(90, 86, 67, 0.5) 50%, rgba(2, 117, 60, 0.5) 100%);
}

#breadcrumb {
    display: inline-flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 auto;
    width: 100%;
    top: 0;
    user-select: none;
}

#breadcrumb li {
    font-family: warmin, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;

    &:not(:last-child)::after {
        content: "→";
        padding: 0 0.5rem;
    }
}

#content_letter {
    position: relative;
    overflow-x: hidden;
    width: 60vw;
    max-width: 80%;
    min-width: 500px;
    margin: 0 auto 5vh;
    background: linear-gradient(135deg, transparent, transparent 4.2vw, rgba(238, 237, 232, 0.733) 4.2vh, rgba(238, 237, 232, 0.733));
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 0px;
        width: 0px;
        z-index: 2;
        border-width: 3vw;
        border-style: solid;
        border-color: transparent rgba(238, 237, 232, 1) rgba(238, 237, 232, 1) transparent;
        filter: drop-shadow(-2px 6px 6px rgba(0, 0, 0, .5));
    }
}

#content {
    padding: 7vw 3vh 5vw 5vh;
    position: relative;
    top: 0;
    left: 0;
    text-align: justify;
}

#content a {
    text-decoration: none;
    color: darkblue;

    &:visited {
        color: blueviolet;
    }
}

#content h2 {
    text-align: center;
}

#content p img {
    width: 100%;
    max-width: 250px;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    border: solid lightgray 1px;
    float: left;
    margin: 15px;
}

#content .list_icon {
    padding-right: 1rem;
    max-width: 1.5rem;
    height: auto;
}

#content>p:first-of-type::first-letter {
    font-family: 'Old English Five', sans-serif;
    font-size: 2rem;
}

#content ul {
    list-style: none;
}

#content .cards_panel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 100%;
}

#content .card {
    flex-shrink: 0;
    font-size: 0.9rem;
    overflow: hidden;
    text-align: center;
    box-shadow: 2px 2px 5px blue,
        -2px -2px 5px yellow,
        -2px 2px 5px red,
        2px -2px 5px black;
    border: 2px white solid;
    padding: 2%;
    margin: 2vw auto 2vw auto;
    height: 100px;
    max-width: 40%;
    max-height: 25%;
    min-width: 150px;
    min-height: 150px;
    user-select: none;

    &.main_card {
        box-shadow: 2px 2px 10px blue,
            -2px -2px 10px yellow,
            -2px 2px 10px red,
            2px -2px 10px black;
        min-height: 5rem;
        max-height: 10%;
        height: 1vw;
        width: 100%;
    }

    & h4,
    & h5 {
        font-size: 1rem;
        text-align: center;
    }

    & .material-symbols-outlined {
        font-size: 0.9rem;
    }
    
    &:hover {
        border-width: 1px;
    }
}

/*.card::before {
    content: "";
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
}*/

#content .card_desc p {
    color: darkgreen;
    text-indent: 0px;
    padding: 1rem;
    border-radius: 2rem;
    line-height: 1rem;
    background: linear-gradient(60deg, rgba(245, 255, 0, 0.05) 0%, rgba(0, 5, 255, 0.02) 50%);
    box-shadow: 0px 0px 10px lightgray;
    text-shadow: 1px 1px 1px lightgreen;
}

footer {
    font-size: 1.25rem;
    grid-area: foot;
    bottom: 0;
    height: fit-content;
    left: 0;
    overflow: visible;
    position: static;
    width: 100%;
    /*border: 3px rgb(0, 109, 109) solid;*/
    background-color: darkcyan;
    bottom: 0px;
}

footer nav {
    margin: 0 auto;
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

footer nav h4 a {
    font-family: warmin, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    line-height: 0px;
    font-weight: bold;
    color: black;
}

footer nav a {
    line-height: 0px;
    font-size: 0.9rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

@media only screen and (max-width: 1000px) {

    #head_main_link_logo img {
        padding: 0px;
        max-width: 90px;
        height: auto;
    }

    h1 {
        padding: 0;
        position: relative;
        line-break: auto;
        margin: 5px;
        font-size: 1.5rem;
        min-width: 50%;
        max-width: 500px;
        text-decoration: overline underline;
        text-shadow: 1px 1px 3px white, -1px -1px 3px wheat;
        color: gray;
    }

    header a.menu_item {
        border: none;
        background-color: transparent;
        text-shadow: 1px 1px 3px wheat;
        text-decoration-line: underline;
        position: relative;
    }

    #head_menu {
        left: 0;
        margin: 0;
        min-width: 60%;
        display: inline-flex;
        font-size: 1rem;
    }

    /*#head_menu a.menu_item {
        text-shadow: none;
        text-shadow: none;
        border: none;
    }*/

    #tod {
        left: 0px;
        margin: 0px;
        padding: 0px 0px 0px 50px;
        position: relative;
        justify-self: flex-start;
        text-align: left;
        max-height: 20vh;
        line-height: 0.1rem;
        font-size: 0.75rem;
    }

    main {
        width: 100%;
    }

    #breadcrumb {
        width: 100%;
        left: 0px;
        margin: 0px;
        position: relative;

        & a {
            font-family: 'Courier New', Courier, monospace;
        }
    }

    #content_letter {
        min-width: 100%;
        background:  rgba(238, 237, 232, 1);
        &::after {
            content: "";
            visibility: hidden;
            top: 0;
            left: 0;
            height: 0px;
            width: 0px;
            z-index: 2;
            border-width: 3vw;
            border-style: solid;
            border-color: transparent rgba(238, 237, 232, 1) rgba(238, 237, 232, 1) transparent;
            filter: drop-shadow(-2px 6px 6px rgba(0, 0, 0, .5));
        }
    }

    #content {

        & p {
            font-size: 1rem;
        line-height: 1.5rem;
        max-width: 90vw;
        min-width: 60vw;
        line-break: strict;
        border-bottom: white solid;
        }
        
        & p img {
            max-width: 150px;
        }

        & h2, h3, h4, a {
            font-size: 1.2rem;
            font-family: inherit;
        }

        & .card {
            box-shadow: none;
        }

        & .card p {
            font-size: 0.75rem;
        }

    }

    #content>p:first-of-type::first-letter {
        font-family: inherit;
        font-size: 1rem;
    }

    footer * {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    footer nav section {
        &::before {
            content: "__________________________";
            position: relative;
            margin: 0 auto;
            text-shadow: 1px 1px 1px wheat;
            line-height: 3rem;
        }

        & menu li {
            left: 0;
            max-width: 40%;
            margin: 0 auto;
            padding-left: 20%;
            text-align: left;
        }
    }

    footer nav {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
        width: 100%;

        & h4 a {
            font-weight: bolder;
            line-height: 2rem;
            font-size: 1.5rem;
            text-decoration: underline;
            font-family: 'Courier New', Courier, monospace;
        }

        & a {
            font-size: 1rem;
            font-weight: bold;
        }
    }

}