@font-face {
    font-family: warmin;
    src: 
        url('../fonts/warmin.ttf') format('truetype');
}

/* GENERAL FORMAT */

body {
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0px;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    row-gap: 0;
    grid-template:
    "head" minmax(20vh, max-content)
    "main" 65vh
    "foot" minmax(15vh, max-content)
    / 100%
    ;
}

nav section {
    padding: 0;
    margin: 0;
    display: grid;
}

nav menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
 }

h3 {
    line-height: normal;
}

/* SPECIFIC FORMAT */

header {
    font-family: warmin, Arial, Helvetica, sans-serif;
    font-weight:900;
    font-size: 1.5rem;
    grid-area: head;
    width: 100%;
    border: 3px rgb(66, 103, 100) solid;
    background-color: rgb(106, 163, 154);
    padding: 0;
    margin: 0;
}

header nav {
    display: grid;
    row-gap: 0;
    grid-template: 
    "img title" 10vh
    "menu menu" 5vh 
    / 100px 1fr;
}

#head_title {
    margin: 0 auto;
    grid-area: title;
    letter-spacing: 0.5cap;
}

#head_main_link_logo {
    grid-area: img;
}

#head_main_link_logo img {
    height: auto;
    width: 90px;
    padding: 0;
    margin: 0;
}

#head_menu {
    margin: 0 auto;
    grid-area: menu;
    width: 100%;
    z-index: 1;
}

#head_menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header nav .menu_item {
    white-space: nowrap;
    padding: 5px 20px 5px 20px;
    margin: 0 -10px 0 -10px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    border: solid;
    border-radius: 5vw;
    background-color: aqua;
}

main {
    overflow-x: hidden;
    grid-area: main;
    position: relative;
    width: 100vw;
    overflow: scroll;
    border: 3px rgb(172, 124, 78) solid;
    background-color: rgb(229, 219, 171);
}

#breadcrumb {
    position: sticky;
}

#content_letter {
    position: relative;
    width: 60vw;
    max-width: 80%;
    margin: 0 auto 5vh;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    &::after {
        content: "";
        top: 0px;
        left: 0px;
        position: absolute;
        border-left: solid 5vw rgb(229, 219, 171);
        border-bottom: solid 5vw rgb(105, 158, 197);
        box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    }
}

#content  {
    background-color: rgb(231, 234, 225);
    padding: 7vw 3vh 5vw 5vh;
    position: relative;
    top: 0;
    left: 0;
}

#content img {
    width: 100%;
    max-width: 250px;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    border: solid lightgray 1px;
    float: left;
    margin: 15px;
}

footer {
    font-size: 1.25rem;
    grid-area: foot;
    position: relative;
    width: 100%;
    border: 3px rgb(0, 109, 109) solid;
    background-color: darkcyan;
    bottom: 0px;
}

footer nav {
    margin: 0 auto;
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;    
}

footer nav a {
    font-family: warmin;
    line-height: 0px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

footer nav section {
}

footer .date {

}